.site-footer__bottom {
  background: var(--color-primary);
}

.site-footer__bottom-inner {
  max-width: 1280px;
  margin-inline: auto;
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  color: #fff;
  font-size: 16px;
  line-height: 25.6px;
}

.site-footer__bottom-inner p {
  margin: 0;
}

.site-footer__bottom-inner nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-6);
}

.site-footer__bottom-inner a {
  color: #fff;
}

@media (min-width: 768px) {
  .site-footer__bottom-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
}
